
$font-color-copy :  #545454;
$page-bg-color: #fafafa;

$header-height : 50px;
$copy-font-size : 12px;

$header-padding : 10px 15px !default;
$header-background-color : #ffffff;

$heading-modal-font-size : 30px;
$heading-modal-color :#00263e;

$heading-font-size : 24px;
$heading-color :#00263e;

$links-font-size : 12px;
$links-color :#007ead;

$label-font-size : 14px;
$label-color :#007ead;

$heading-section-font-size:20px;
$heading-section-color:#00263e;

$border-color : #d9d9d9;

$sidebar-width : 50px;
$sidebar-items: home,client,tracking,business,investments,market-data;
