@import "abstracts/functions";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/form";
@import "components/cards"; 


@import "layout/footer";
@import "layout/header";
@import "layout/sidebar";
@import "layout/subheader";

@import "module/reports";

* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $font-color-copy;
    background:$page-bg-color;
    font-size: $copy-font-size;
  }

  a{
    text-decoration: none;
  }
  
  .main-container{
    position: relative;
    top: $header-height ;
  }